<h1>Contacto</h1>

<!-- Casi siempre se envía con el método post -->
<form action="/contacto" method="post">
    <div>
        <label for="idNombreUsuario">Nombre: </label>
        <input type="text" name="nombreUsuario" id="idNombreUsuario">
    </div>
    <div>
        <label for="idCorreoUsuario">Correo: </label>
        <input type="email" name="correoUsuario" id="idCorreoUsuario">
    </div>
    <div>
        <label for="idAreaMensaje">Mensaje: </label>
        <textarea name="areaMensaje" id="idAreaMensaje" cols="30" rows="10"></textarea>
    </div>
    <button type="submit">Enviar</button>
</form>